[submodule "laradock"]
	path = laradock
	url = https://github.com/Laradock/laradock.git
[submodule "packages/xlabtechs/laravel-generator"]
	path = packages/xlabtechs/laravel-generator
	url = git@gitlab.com:xlabtechs/laravel-generator.git
